@model RunningBlog.Models.PostViewModels.CreatePostViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Photo)
        </dt>
        <dd>
            @if (Model.Photo != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Post.Photo)"
                    alt="company logo" width="80" height="80"
                    asp-append-version="true" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd>
            <textarea asp-for="Post.Content" rows="15" cols="40"></textarea>
        </dd>
        @if (Model.CategorySelectList?.Count() > 0)
            {
            <div class="form-group">
                <label asp-for="CategorySelectList" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="SelectedCategories" class="form-control" asp-items="@Model.CategorySelectList"></select>
                    <span asp-validation-for="CategorySelectList" class="text-danger"></span>
                </div>
            </div>

        }
        <dt>
            @Html.DisplayNameFor(model => model.Post.PublishedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.PublishedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.LastUpdatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.LastUpdatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.PublishedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.PublishedBy)
        </dd>
    </dl>
    <a asp-action="Create" asp-controller="Comment" asp-route-postId="@Model.Post.Id" class="btn btn-default">Add a comment</a>
    <br /><br />
    @if (Model.Post.Comments.Count > 0)
    {
        <h1>Comments:</h1>
        foreach (var comment in Model.Post.Comments)
        {
            @:Posted by: @comment.PublishedBy on @comment.PublishedOn<br />
            @comment.Content<br />
            <div>
                <a asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id">Delete</a>
            </div>
            <hr />
        }


    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Post.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
